html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0; 
    height: 100%;
    color: black;
    background-color: #F0E68C;
    font-family: "DejaVu Sans", Helvetica, sans-serif;
    font-size: 12pt;
}

input {
    display: inline;
    padding: 0;       
}

.info {
    background-color: lightgreen;            
}

.error {
    background-color: red;
    color: white;
}

.selectbox {
    position: absolute;
    bottom: 2.5em;
    left: 5px;
    right: 5px;
    height: 1.5em;
}

/* styling of file input: see 
http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
*/

.fileinput {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.fileinput + label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.fileinput:hover + label {
    background-color: red;
}


#maincontainer {
    position: absolute;
    top: 5px;
    bottom: 40px;
    left: 5px;
    right: 5px;
    margin: 0;
    padding: 5px;
    border-radius: 15px;
}

#videocontainer {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    border-radius: 15px;
}

#mapcontainer {
    position: relative;
    display: block;
    width: 49%;
    height: 100%;
    float: right;
    border-radius: 15px;
}

#video {
    display: block;
    position: absolute;
    bottom: 5em;
    width: 100%;
    border-radius: 15px;
    background-color: dimgray;
}


#map {
    position: absolute;
    top: 0;
    bottom: 6em;
    width: 100%;
    border-radius: 15px;
}

#sync {
    position: relative;
    float: left;
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    padding: 2px;
    padding-left: 5px;
    border-radius: 5px;
}

#ginput + label {
    position: relative;
    float: right;
}

#vmessage, #gmessage {
  position: absolute;
  bottom: 5px;;
  left: 5px;
  right: 5px;
  font-size: 12pt;
  height: 1.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 5px;
}

#copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 8pt;
  background-color: white;
  padding-left: 1em;
  font-size: normal; 
  line-height: normal;  
}
